body{
	margin:0;
	font-family: 'Tahoma', sans-serif;
}
img{
	max-height: 100%
}

.header{
	padding-top:77px;
	padding-bottom: 96px;
}
.header__title{
	font-size: 48px;
	font-weight: 700;
	margin-bottom:15px;
}
.header__subtitle{
	margin-bottom:35px;
	font-size: 30px;
	font-weight: 400;
}
.header__description{
	width: 526px;

	font-size: 18px;
	font-weight: 400;
}
.header__price{
	font-size: 48px;
	font-weight: 400;
	line-height: 27px;
	padding-top: 47px;
	color: #313131;
}
.button{
	border-radius: 5px;
	background-color: #f15921;
	color:#ffffff;
	font-size: 24px;
	font-weight: 700;
	border:none;
	width:175px;
	height: 67px;
	margin-top:51px;
	margin-right: 37px;
	cursor:pointer;


}
.button-o{
	color: #f15921;
	background-color: transparent;
	border:1px solid #f15921;
	width: 287px;
	height: 67px;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	border-radius: 5px;
	cursor:pointer;
}
button:focus{
	outline:none;
}
.features{
	background-color: #f2f2f2;
	padding-top: 89px;
	margin-bottom: 100px;
	text-align: center;

}

.section__title{
	margin-bottom: 91px;
	font-size: 30px;
	font-weight: 700;

}
.features__img{
	height: 80px;
	
	padding-bottom: 14px;
}
.icon-shoping{
	width: 100%;
}
.features__text{
	margin-bottom: 105px;
}
.footer-title{
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	padding-bottom:30px
}
.footer{
	margin-top:87px;
	text-align: center;
}
.footer-img{
	margin-top: 38px;
}
}