h1{
	color: #ffffff;
font-family: Lobster;
font-size: 30px;
font-weight: bold;
line-height: 24px;
text-align: center;
}
body{
	background-color: black;
}
.container-text{
	color: white;
	line-height: 24px;
	font-size: 24px;
	text-align: center;
	font-family: Comfortaa;
	margin-top: 87px;
}
img{
margin-top: 210px;
margin-right: 34px;
}
button{
	width: 395px;
height: 84px;
background-color: #ff6600;
color: #000000;
font-family: "Alegreya Sans";
font-size: 48px;
font-weight: bold;
line-height: 48px;
border: none;
text-align: center;
margin-left: 70px;
margin-top: 35px;
}
